.footer{
    .footer-styles{
        background-color: #100f0f;
        .footer-box1{
            background-color: #100f0f;
            height: 7rem;
            border-bottom: #ff1e00 1px solid;
        }
        .footer-box2{
            background-color: #100f0f;
            height: 3rem;
        }    
    }
}